<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
		/>
	</head>

	<body>
		<div>
			<nav>
				<a href="/" class="border border-primary">Home</a>
				{{! <a href='/dashboard'>Dashboard</a> }}
				<button
					id="logout"
					class="btn-no-style border border-success"
				>Logout</button>
				<a href="/login" class="border border-warning">login</a>
			</nav>
			<header>
				<h1>
					<a href="/">Tech Blog</a>
				</h1>
			</header>
			<main>
				{{{body}}}
			</main>

			<footer>
				Thanks for visiting!
			</footer>
		</div>
		<script src="/javascript/logout.js"></script>
	</body>

</html>